<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blackhole01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,269},{132,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,134}}</string>
                <key>sourceSize</key>
                <string>{132,134}</string>
            </dict>
            <key>blackhole02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{134,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,131}}</string>
                <key>sourceSize</key>
                <string>{134,131}</string>
            </dict>
            <key>blackhole03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{135,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,133}}</string>
                <key>sourceSize</key>
                <string>{135,133}</string>
            </dict>
            <key>blackhole04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,269},{135,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,129}}</string>
                <key>sourceSize</key>
                <string>{135,129}</string>
            </dict>
            <key>blackhole05_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,533},{133,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,132}}</string>
                <key>sourceSize</key>
                <string>{133,132}</string>
            </dict>
            <key>blackhole06_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{134,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,139}}</string>
                <key>sourceSize</key>
                <string>{134,139}</string>
            </dict>
            <key>blackhole07_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,137},{135,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,130}}</string>
                <key>sourceSize</key>
                <string>{135,130}</string>
            </dict>
            <key>blackhole08_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{135,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,129}}</string>
                <key>sourceSize</key>
                <string>{135,129}</string>
            </dict>
            <key>blackhole09_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,400},{133,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,132}}</string>
                <key>sourceSize</key>
                <string>{133,132}</string>
            </dict>
            <key>blackhole10_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,138},{135,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,129}}</string>
                <key>sourceSize</key>
                <string>{135,129}</string>
            </dict>
            <key>blackhole11_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{135,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,127}}</string>
                <key>sourceSize</key>
                <string>{135,127}</string>
            </dict>
            <key>blackhole12_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,139}}</string>
                <key>sourceSize</key>
                <string>{136,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blackHoleEffect.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e55583efe0240e5e731042117e3863d4$</string>
            <key>textureFileName</key>
            <string>blackHoleEffect.png</string>
        </dict>
    </dict>
</plist>
