<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{126,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,122}}</string>
                <key>sourceSize</key>
                <string>{126,122}</string>
            </dict>
            <key>bomb02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,126},{124,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,122}}</string>
                <key>sourceSize</key>
                <string>{124,122}</string>
            </dict>
            <key>bomb03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,375},{123,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,122}}</string>
                <key>sourceSize</key>
                <string>{123,122}</string>
            </dict>
            <key>bomb04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,126},{124,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,122}}</string>
                <key>sourceSize</key>
                <string>{124,122}</string>
            </dict>
            <key>bomb05_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,126},{124,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,122}}</string>
                <key>sourceSize</key>
                <string>{124,122}</string>
            </dict>
            <key>bomb06_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2},{125,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,122}}</string>
                <key>sourceSize</key>
                <string>{125,122}</string>
            </dict>
            <key>bomb07_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{124,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,122}}</string>
                <key>sourceSize</key>
                <string>{124,122}</string>
            </dict>
            <key>bomb08_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,122}}</string>
                <key>sourceSize</key>
                <string>{126,122}</string>
            </dict>
            <key>bomb09_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{125,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,122}}</string>
                <key>sourceSize</key>
                <string>{125,122}</string>
            </dict>
            <key>bomb10_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{124,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,122}}</string>
                <key>sourceSize</key>
                <string>{124,122}</string>
            </dict>
            <key>bomb11_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{124,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,122}}</string>
                <key>sourceSize</key>
                <string>{124,122}</string>
            </dict>
            <key>bomb12_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,250},{123,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,122}}</string>
                <key>sourceSize</key>
                <string>{123,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bombEffect.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee1ef54d5be5801b7df0ed8a5ed8feee$</string>
            <key>textureFileName</key>
            <string>bombEffect.png</string>
        </dict>
    </dict>
</plist>
