<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_blue_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,178},{86,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,94}}</string>
                <key>sourceSize</key>
                <string>{86,94}</string>
            </dict>
            <key>item_blue_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,178},{86,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,94}}</string>
                <key>sourceSize</key>
                <string>{86,94}</string>
            </dict>
            <key>item_blue_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,178},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
            <key>item_blue_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,394},{86,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,94}}</string>
                <key>sourceSize</key>
                <string>{86,94}</string>
            </dict>
            <key>item_ghost.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,354},{84,86}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{84,86}}</string>
                <key>sourceSize</key>
                <string>{86,94}</string>
            </dict>
            <key>item_green_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,266},{86,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,90}}</string>
                <key>sourceSize</key>
                <string>{86,90}</string>
            </dict>
            <key>item_green_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,358},{86,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,90}}</string>
                <key>sourceSize</key>
                <string>{86,90}</string>
            </dict>
            <key>item_green_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,178},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
            <key>item_green_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,266},{86,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,90}}</string>
                <key>sourceSize</key>
                <string>{86,90}</string>
            </dict>
            <key>item_orange_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,90},{86,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,98}}</string>
                <key>sourceSize</key>
                <string>{86,98}</string>
            </dict>
            <key>item_orange_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,90},{86,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,98}}</string>
                <key>sourceSize</key>
                <string>{86,98}</string>
            </dict>
            <key>item_orange_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,167},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
            <key>item_orange_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,90},{86,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,98}}</string>
                <key>sourceSize</key>
                <string>{86,98}</string>
            </dict>
            <key>item_pink_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{86,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,98}}</string>
                <key>sourceSize</key>
                <string>{86,98}</string>
            </dict>
            <key>item_pink_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{86,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,98}}</string>
                <key>sourceSize</key>
                <string>{86,98}</string>
            </dict>
            <key>item_pink_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,134},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
            <key>item_pink_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{86,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,98}}</string>
                <key>sourceSize</key>
                <string>{86,98}</string>
            </dict>
            <key>item_purple_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,359},{86,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,91}}</string>
                <key>sourceSize</key>
                <string>{86,91}</string>
            </dict>
            <key>item_purple_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,266},{86,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,91}}</string>
                <key>sourceSize</key>
                <string>{86,91}</string>
            </dict>
            <key>item_purple_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,101},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
            <key>item_purple_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,178},{86,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,91}}</string>
                <key>sourceSize</key>
                <string>{86,91}</string>
            </dict>
            <key>item_red_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{86,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,98}}</string>
                <key>sourceSize</key>
                <string>{86,98}</string>
            </dict>
            <key>item_red_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{86,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,98}}</string>
                <key>sourceSize</key>
                <string>{86,98}</string>
            </dict>
            <key>item_red_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,68},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
            <key>item_red_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{86,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,98}}</string>
                <key>sourceSize</key>
                <string>{86,98}</string>
            </dict>
            <key>item_white_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,297},{86,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,95}}</string>
                <key>sourceSize</key>
                <string>{86,95}</string>
            </dict>
            <key>item_white_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,200},{86,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,95}}</string>
                <key>sourceSize</key>
                <string>{86,95}</string>
            </dict>
            <key>item_white_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,35},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
            <key>item_white_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,90},{86,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,95}}</string>
                <key>sourceSize</key>
                <string>{86,95}</string>
            </dict>
            <key>item_yellow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{86,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,98}}</string>
                <key>sourceSize</key>
                <string>{86,98}</string>
            </dict>
            <key>item_yellow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{86,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,98}}</string>
                <key>sourceSize</key>
                <string>{86,98}</string>
            </dict>
            <key>item_yellow_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
            <key>item_yellow_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,98}}</string>
                <key>sourceSize</key>
                <string>{86,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>character.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a3a349530b846d85859a443fd10bef9$</string>
            <key>textureFileName</key>
            <string>character.png</string>
        </dict>
    </dict>
</plist>
