<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fireBird_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{150,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,147}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>fireBird_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,300},{150,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,147}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>fireBird_effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,300},{150,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,147}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>fireBird_effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,449},{150,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,146}}</string>
                <key>sourceSize</key>
                <string>{150,146}</string>
            </dict>
            <key>fireBird_effect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{150,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,147}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>fireBird_effect_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,151},{150,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,147}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>fireBird_effect_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,151},{150,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,147}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>fireBird_effect_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{150,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,147}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>fireBird_effect_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{150,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,147}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>fireBird_effect_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,449},{150,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,146}}</string>
                <key>sourceSize</key>
                <string>{150,146}</string>
            </dict>
            <key>fireBird_effect_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,147}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>fireBird_effect_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,147}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fireBirdTriggerEffct.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1e076a8792ec19ba80c89d495290eb2$</string>
            <key>textureFileName</key>
            <string>fireBirdTriggerEffct.png</string>
        </dict>
    </dict>
</plist>
